{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% block body %}
	<form enctype="multipart/form-data" action= "{% url 'edit_profile' %}" method="post">
		{% csrf_token %}
		<div class="col-md-8">
		<div class="card">
			<div class="card-header">
				<h5 class="title">Edit Profile</h5>
			</div>
		<div class="card-body">
				<div class="row">
					<div class="col-md-4 pr-md-1">
						<div class="form-group">
							<label for="{{ user_form.first_name.id_for_label }}">Имя:</label>
							{{ user_form.first_name }}
						</div>
					</div>
					<div class="col-md-4 px-md-1">
						<div class="form-group">
							<label for="{{ user_form.last_name.id_for_label }}">Фамилия:</label>
							{{ user_form.last_name }}
						</div>
					</div>
					<div class="col-md-4 pl-md-1">
						<div class="form-group">
							<label for="{{ user_form.email.id_for_label }}">Адрес электронной почты:</label>
							{{ user_form.email }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 pr-md-1">
						<div class="form-group">
							<label for="{{ profile_form.birth.id_for_label }}">Дата рождения:</label>
							{{ profile_form.birth}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 px-md-1">
						<div class="form-group">
							<label for="{{ profile_form.bio.id_for_label }}">О себе:</label>
							{{ profile_form.bio}}
						</div>
					</div>
					<div class="col-md-6 px-md-1">
						<div class="form-group">
							<label for="{{ profile_form.avatar.id_for_label }}">Фото</label>
							 {% if not profile_form.avatar %}
							<p>Ава отсутствует
							{% else %}
								<div class="img_block">
									{{ profile_form.avatar}}
								</div>
							{% endif %}
						</div>
					</div>
				</div>
		</div>
		<div class="card-footer">
        	<button type="submit" class="btn btn-fill btn-primary">Сохранить изменения</button> 
      	</div>
      	</div>
      	</div>
	</form>
{% endblock %}
{% endblock %}