{% extends 'layouts/base.html' %}
{% block content %}
{% block body %}
    <div class="profile_block">
      <div class="row">  
        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                    <div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        
                            <img class="avatar" src="{{ profile.avatar.url}}" alt="...">
                            <h5 class="title"> {{ request.user.username }}</h5>
                        
                        <p class="description">
                            {{ request.user.email }}
                        </p>
                    </div>
                    </p>
                </div>
                    <div class="col-md-10 pr-md-1 m-auto">
						<div class="form-group">
							<label for="id_birth">О себе:</label>
							<div class="">{{ profile.bio }}</div>
						</div>
					</div>
                    <div class="card-footer m-auto">
                        <a class="edit_anchor btn btn-fill btn-primary" href="{% url 'edit_profile' %}">Редактировать профиль</a>    
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-columns">
                    <div class="card">
                        
                        <div class="card-body">
                            <h4 class="card-title">Информация о активности</h4>
                            <p class="card-text">Всего постов: {{ posts_count }}</p>
                            <p class="card-text">Всего комментариев: {{ comments }}</p>
                        </div>
                    </div>
                    <div class="card">
                        
                        <div class="card-body">
                        {% comment %} {% for post in posts %}
                        <form method="POST" class="card my-4">
                        {% csrf_token %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h4 class="card-title">{{ post.title }}</h4>
                                    <div style="display: inline-block;">
                                        <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}}</p>
                                        </p>
                                    </div>
                                    {{ PostForm.status }}
                                    <button type="submit" class="save btn btn-default">Сохранить</button>
                                    <p class="text-right mt-3">
                                        <a href="{% url 'post_detail' post.category.slug post.slug  %}" class="btn btn-primary">Ознакомиться</a>
                                    </p>
                                </div>
                            </div>
                        </form>
                        {% endfor %} {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock %}
{% endblock %}