{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Прогноз погоды</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static "/assets/css/card.css" %}" />
  <script src="{% static "js/jquery-3.2.1.js" %}" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
  </head>
  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Hon home погода</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Главная</a>
        <a class="p-2 text-dark" href="#">Информация</a>
        <a class="p-2 text-dark" href="#">Документация</a>
        
      </nav>
    </div>
    <div class="container">
      <div class="row center">
            <div class="col-md-4">
              <div class="card my-4">
                  <form method="post" action="">
                    {% csrf_token %}
                    <h5 class='card-header'>Город</h5>
                      {% comment %} <div class="form-group card-body">
                        <select class="form-control" name="city" id="city">
                          <option>Москва</option>
                          <option>Тула</option>
                          <option>Санкт-Петербург</option>
                        </select>
                      </div> {% endcomment %}
                      <div class="form-group">
                        <label for="city">свой вариант</label>
                        <input type="text" class="form-control" name="city" id="city" aria-describedby="helpId" placeholder="введите город">
                      </div>
                    <div class="mx-auto text-center">
                      <input class="mt-2 mb-3 btn btn-danger" type="submit" value="Узнать">
                    </div>
                  </form>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card my-4">
                <h5 class='card-header'>Инфо</h5>
                <div class="form-group card-body">
                  <b>Город:</b> {{ info.city }} </br>
                  <b>температура:</b> от {{ info.temp }} до {{ info.app_temp }} C
                </div>
              </div>
            </div>
            {% block sidebar %}
            {% include 'sidebar.html' %}
            {% endblock sidebar %}
      </div>
      <div class="mt-5">Просто тестировал подключение API прогноза погоды через вьюху.</div>
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
  <script src="{% static "js/modal-login.js" %}"></script>
  </body>
</html>